:root {
    --primary-color: #153677;
    --secondary-color: #4e085f;
    --background-color: #fff;
    --button-color: orangered;
    --hover-color: #4b0e74;
    --text-color: white;
    --text-color-dark: #555;
    --transition-time: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}

.container {
    width: 100%;
    min-height: 95vh;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    padding: 10px;
}

.app {
    width: 100%;
    max-width: 540px;
    background: var(--background-color);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.app h2 {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.app h2 img {
    width: 30px;
    margin-left: 10px;
}

.area_de_preenchimento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: seashell;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 200;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--button-color);
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color var(--transition-time);
}

button:hover {
    background-color: #153677;
    color: #fff;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 17px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: black;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(imgs/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.marcada {
    color: var(--text-color-dark);
    text-decoration: line-through;
}

ul li.marcada::before {
    background-image: url(imgs/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 30px;
}

ul li span:hover {
    background-color: var(--button-color);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    padding: 5px;
    position: relative; /* Ajuste a posição conforme necessário */
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaço entre os elementos */
    margin-bottom: 5px;
}

.footer-content a {
    color: var(--text-color);
    font-size: 14px; /* Tamanho de fonte menor para responsividade */
    text-decoration: none;
    transition: color var(--transition-time);
    padding: 5px; /* Padding para aumentar a área clicável */
}

.footer-content a:hover {
    color: var(--hover-color);
}

footer p {
    font-size: 12px;
    margin: 0;
}

footer p a {
    text-decoration: none;
    color: var(--text-color);
}

/* Media queries para responsividade */
@media (max-width: 600px) {
    .app {
        padding: 30px 20px 50px;
        margin: 50px auto 20px;
    }

    .app h2 {
        font-size: 28px;
    }

    button {
        padding: 12px 30px;
        font-size: 14px;
    }

    ul li {
        font-size: 15px;
        padding: 15px 8px 10px 40px;
    }

    ul li::before {
        height: 24px;
        width: 24px;
    }

    ul li span {
        font-size: 24px;
    }

    footer {
        padding: 20px; /* Aumentar o padding para uma melhor usabilidade em dispositivos móveis */
    }

    .footer-content a {
        font-size: 12px; /* Reduzir ainda mais o tamanho da fonte se necessário */
        padding: 10px; /* Aumentar o padding para melhorar a área clicável em dispositivos móveis */
    }
}
